@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar ul {
  list-style-type: none;
  display: inline-block;
  margin-bottom: -0.5px;
}

.top-bar ul > li {
  display: inline-block;
  margin-right: 2rem;
}

.review {
  list-style-type: none;
}

.actor-list > li {
  display: inline-block;
  margin-right: 4px;
}